language: ruby
rvm:
  - 2.4.6
  - 2.5.5
install: bundle install
gemfile:
  - gemfiles/4.2.10.gemfile
  - gemfiles/5.0.gemfile
  - gemfiles/5.1.gemfile
  - gemfiles/5.2.gemfile

script: "bundle exec rake spec"